{% extends 'base.html' %}

{% block content %}
  <div class="spacer">
  </div>
  <div class="small-spacer">
  </div>
  <div class = "center">
    <p>Морфологически размеченный корпус текстов на русском языке с возможностью поиска.</p>
    <ul class="list1">
      <li>25 рассказов Рэя Брэдбери</li>
      <li>25 рассказов О. Генри</li>
      <li>25 рассказов Джека Лондона</li>
      <li>25 рассказов Оскара Уайльда, Эрнеста Хемингуэя и Эрнеста Сетон-Томпсона</li>
    </ul>
    <p>Указанная мета-информация: автор, название произведения, год написания.</p>
    <p>Всего 316.576 словоупотреблений.</p>
  </div>
{% endblock %}