{% extends 'base.html' %}

{% block content %}
  <div class="spacer">
  </div>
    <h4><b>Лемма:</b> поиск всех форм слова.</h4>
    <span>Пример: город</span>
    <h4><b>Словоформа:</b> поиск конкретной формы.</h4>
    <span>Пример: "холодного"</span>
    <h4><b>POS-теги:</b> поиск определенной части речи.</h4>
    <span>Пример: ADJ</span>
    <h4><b>Лемма + часть речи:</b> поиск словоформ определенной части речи.</h4>
    <span>Пример: стекло + NOUN</span>
    <h4><b>Всё вместе:</b> леммы / словоформы / POS-теги</h4>
    <span>Пример: высокий+ADJ "дома" VERB</span>
  <div class="small-spacer">
  </div>
{% endblock %}