{% extends 'base.html' %}

{% block content %}
  <div class="spacer">
  </div>
    <h4><b>Лемма:</b> поиск всех форм слова.</h4>
    <p class="frame">Пример: город</p>
    <h4><b>Словоформа:</b> поиск конкретной формы.</h4>
    <p class="frame">Пример: "холодного"</p>
    <h4><b>POS-теги:</b> поиск определенной части речи.</h4>
    <p class="frame">Пример: ADJ</p>
    <h4><b>Лемма + часть речи:</b> поиск словоформ определенной части речи.</h4>
    <p class="frame">Пример: стекло + NOUN</p>
    <h4><b>Всё вместе:</b> леммы / словоформы / POS-теги</h4>
    <p class="frame">Пример: высокий+ADJ "дома" VERB</p>
  <div class="small-spacer">
  </div>
{% endblock %}