{% extends 'base.html' %}

{% block content %}
  <div class="spacer">
  </div>
  <table>
    <tbody>
      <tr>
        <th>ADJ</th>
        <td>прилагательное</td>
      </tr>
      <tr>
        <th>ADP</th>
        <td>предлог</td>
      </tr>
      <tr>
        <th>ADV</th>
        <td>наречие</td>
      </tr>
      <tr>
        <th>CCONJ</th>
        <td>сочинительный союз</td>
      </tr>
      <tr>
        <th>CONV</th>
        <td>деепричастие</td>
      </tr>
      <tr>
        <th>DET</th>
        <td>местоимение-прилагательное, местоимение-наречие</td>
      </tr>
      <tr>
        <th>INTJ</th>
        <td>междометие</td>
      </tr>
      <tr>
        <th>NOUN</th>
        <td>существительное</td>
      </tr>
      <tr>
        <th>NUM</th>
        <td>числительное</td>
      </tr>
      <tr>
        <th>PART</th>
        <td>частица</td>
      </tr>
      <tr>
        <th>PRON</th>
        <td>местоимение-существительное</td>
      </tr>
      <tr>
        <th>PROPN</th>
        <td>имя собственное</td>
      </tr>
      <tr>
        <th>PRT</th>
        <td>причастие</td>
      </tr>
      <tr>
        <th>SCONJ</th>
        <td>подчинительный союз</td>
      </tr>
      <tr>
        <th>VERB</th>
        <td>глагол</td>
      </tr>
      <tr>
        <th>X</th>
        <td>иное</td>
      </tr>
    </tbody>
  </table>
  <div class="small-spacer">
  </div>
{% endblock %}